<div class='backup list-item'>
	<h5>
		<a href='?page=backup&id={{id}}'>{{name}}</a>
		<small>(id: {{id}})</small>
	</h5>
	<span>{{source}} &rarr; {{backup_dir}}</span>
	<div class='menu'><ul class='actions'>
		<li class='one'>
			<a href='?page=backup&id={{id}}&action=backup'>Backup</a>
		</li>
		<li class='two'>
			<a href='?page=backup&id={{id}}&action=settings'>Settings</a>
		</li>
	</ul></div>
</div>